/* this is for styling flag selector */
.selectFlag {
  background-color: white;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 48px;
  font-size: 11px !important;
  margin: 0;
  margin-top: 1rem;
  padding: 0 !important;
  color: blue !important;
}
.date-input--has-value {
  margin: 0 !important;
}
.ReactFlagsSelect-module_selectOption__3pcgW {
  font-size: 11px;
  padding: 0.5rem 0rem 0.5rem 1rem !important;
  margin: 0 !important;
}
.ReactFlagsSelect-module_fullWidthOptions__1XeR6 {
  margin: 0 !important;
  padding: 0rem 0rem 0rem 0rem !important;
}
#rfs-btn {
  border: none;
  width: 100%;
  height: 45px;
  margin: 0;
  font-size: 13px !important;
}

.error {
  border: 1px red solid;
}
.ReactFlagsSelect-module_selectValue__152eS {
  color: #d0d0ce;
  color: black;
}
